/* Things are gonna get messy in here, maintain simple naming convention for all html files.*/

/* Use class for things that will be the same across all pages and ID for things that will change from page to page.  */
body {
  background-color: #fefae0;
  text-align: right;
  color: #283618
}
h1 {
  font-size: xx-large;
}

#index {
  padding: 0px 100px;
}

#index > img {
  height: 250px;
  float: left;
  margin-left: 50px;
}

#topnav {
  overflow: hidden;
  background-color: #30312a;
  
}

#topnav a {
  float: right;
  display: block;
  color: #fefae0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

#topnav a:hover {
  background-color: #606c38;
  color: #dda15e;
}

p {
  font-size: 14px;
}

#page-container{
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

footer {
  background-color: #30312a;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#linked > img {
  height: 40px;
}

#quote {
  margin: 175px 100px;
  color: #bc6c25;
}

#thanos {
  text-align: center;
  margin: 0px 25px;
}

#boys {
  text-align: left;
  margin: 0px 25px;
}

#boys > img {
  float: right;
  height: 90px;
  margin-top: 5px;
  margin-right: 5px;
}

#vg {
  text-align: right;
  margin: 0px 25px;
}

#vg > img {
  float: left;
  height: 75px;
  margin-top: 10px;
  margin-right: 5px;
}

#camp {
  text-align: left;
  margin: 0px 25px;
}

#camp > img {
  float: right;
  height: 90px;
  margin-top: 10px;
  margin-right: 5px;
}

#proj1 {
  padding: 2px 20px 5px;
  background-color: #dbb284;
  color: #283618;
  margin: 0px 100px;
  text-align: left;
}

#proj2 {
  padding: 2px 20px 5px;
  background-color: #dbb284;
  color: #283618;
  margin: 10px 100px;
  text-align: right;
}

#proj3 {
  padding: 2px 20px 5px;
  background-color: #dbb284;
  color: #283618;
  margin: 0px 100px;
  text-align: left;
}

#frank {
  text-align: center;
  margin: 0px 25px;
}

#omo {
  margin: 8px 25px;
}

#contact1 {
  display: grid;
  grid-template-rows: repeat(25, 20px);
  grid-template-columns: repeat(25, 20px);
  justify-content: center;
  text-align: left;
  
}

#name1 {
  display: grid;
  grid-row-start: 0;
  grid-row-end: 1;
  grid-column-start: 16;
  justify-self: end;
}

#email1 {
  display: grid;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 16;
  justify-self: end;
}

#message1 {
  display: grid;
  grid-row-start: 3;
  grid-column-start: 14;
  justify-self: center;
}

#submit {
  display: grid;
  grid-row-start: 13;
  grid-row-end: 14;
  grid-column-start: 14;
  justify-self: center;
}

#conme {
  text-align: center;
}