/* Things are gonna get messy in here, maintain simple naming convention for all html files.*/

/* Use class for things that will be the same across all pages and ID for things that will change from page to page.  */
body {
  background-color: #fefae0;
}

h1 {
  color: #283618;
}

.topnav {
  overflow: hidden;
  background-color: #30312a;
}

.topnav a {
  float: right;
  display: block;
  color: #fefae0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #606c38;
  color: #dda15e;
}
